{% extends "base.html" %}
{% block content %}

<body>
     <div class="container mt-4">
        <div class="row justify-content-center">
        <div class="form-container col-md-8 col-lg-6 mb-4 " >
            <h2 class="form-heading">Create a New Post</h2>
            <form method="POST" action="{{ url_for('add_post') }}">
                <div class="form-group">
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="post_title" name="post_title" placeholder="Enter post title">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <textarea class="form-control" aria-label="With textarea" id="post_content" name="post_content" placeholder="Spill the tea here."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-read-more">Post</button>
            </form>
        </div>
    </div>
    </div> 

    <div class="container mt-4">
        <div class="row justify-content-center">
            {% for post in posts %}
            <div class="col-md-6 col-lg-4 mb-4"> 
                <form method="POST" action="{{ url_for('home', id=post[0]) }}">
                    <div class="card">
                        <div class="card-header">
                            <h6>{{ post[1] }}</h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span>Posted on {{ post[3] }}</span>
                            </p>
                            <p class="card-text text-truncate">{{ post[2] }}</p>
                            <a href="{{ url_for('read_del', id=post[0]) }}" class="btn btn-primary btn-sm btn-read-more">Read more</a>
                            <button type="submit" class="btn btn-danger btn-delete btn-sm">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>




{% endblock content %}